@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }
  /* shared style */
  .display-flex{
    display: flex;
  }
  .btn-primary{
    padding: 10px 25px;
    margin: 0px 175px;
    border-radius: 12px;

   background: rgb(254, 163, 1);
   border: none;
   align-items: center;
  }
  .second-btn{
    padding: 10px 47px;
    
    border: none;
   align-items: center;
   border-radius: 12px;

background: rgb(17, 17, 17);
color: rgb(255, 255, 255);

  }



  /* list style */
  .nav-links{
    text-align: center;
    margin-right:300px ;
  }

  .nav-links li{
list-style: none;
  }

  .nav-links a{
    text-decoration: none;
  }
  
  .nav-item{
    font-size: 1.125rem;
    font-weight: 700;
    font-family: Quicksand;
    margin-left: 32px;
  }

  .navbar{
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }

  .logo{
    width: 62px;
height: 62px;

  }
  .kid{
    font-family: Quicksand;
font-size: 32px;
font-weight: 700;
margin-top: 19px;
  }
  .school{
    margin-right: 200px;
    margin-left: 80px;
  }
  /* banner style */

  #empower{
    color: rgb(254, 163, 1);
  }
   #vision{
    color: rgb(1, 172, 253);
   }
   .home{
    color: rgb(254, 163, 1);
   }
   .about{
    color: rgb(1, 172, 253);
   }
   .facility{
    color: rgb(5, 212, 223);
   }
    
  .banner-title{
    width: 640px;
    margin-left: 80px;
    margin-top: 120px;
    font-family: Quicksand;
    font-size: 2.8rem;
font-weight: 700;


  }
  .banner-description{
    width: 600px;
height: 50px;
margin-left: 80px;
margin-top: 24px;
font-size: 1.25rem;
font-weight: 400;
font-family: Quicksand;

  }
  .banner button{
    margin-left: 80px;
  }
  .more{
    display: none;
  }


  /* curriculum section */

  .curriculum{
    background-image: url(../assets/bg.png);
  
  }
  .standard-title{
    text-align: center;
    font-family: Quicksand;
font-size: 2.8rem;
font-weight: 700;
margin-top: 60px;
margin-bottom: 80px;
  }
  .curriculum-container{
    margin-left: 80px;
    gap: 26px;
    margin-right: 100px;
  }
   
  .curriculum-title{
    font-family: Quicksand;
font-size: 24.52px;
font-weight: 700;
  }
  .curriculum-description{
    color: rgb(128, 128, 128);
font-family: Raleway;
font-size: 15.09px;
font-weight: 500;
line-height: 28.3px;
padding-right: 35px;
padding-left: 35px;

  }
  .kinder a{
    text-decoration: none;
    color: rgb(100, 200, 255);
    margin-top: 35px;
    margin-bottom: 55px;
    font-size: 1rem;
font-weight: 700;
font-family: Quicksand;
  }
  .elementary a{
    color: rgb(240, 170, 0);
    font-family: Quicksand;
font-size: 1rem;
font-weight: 700;
text-decoration: none;
margin-top: 35px;

    margin-bottom: 55px;
    
  }
  .middle a{
    font-family: Quicksand;
font-size: 1rem;
font-weight: 700;
text-decoration: none;
margin-top: 35px;

    margin-bottom: 55px;
    color: rgb(135, 0, 255);
  }
  .kinder{
    box-sizing: border-box;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
width: 367px;
height: 476px;
justify-content: center;
align-items: center;
text-align: center;
padding-top: 60px;
margin-bottom: 80px;
  }
.elementary{
    box-sizing: border-box;
border: 0.94px solid rgb(255, 244, 220);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
width: 367px;
height: 481px;
justify-content: center;
align-items: center;
text-align: center;
padding-top: 60px;
}
  .middle{
    box-sizing: border-box;
border: 0.94px solid rgb(242, 232, 255);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
width: 367px;
height: 476px;
justify-content: center;
align-items: center;
text-align: center;
padding-top: 60px;
  }
  /* icons */
  .icon{
    margin-left: 590px;
    
  }
  .less{
    margin-right: 10px;
    background-color: rgb(254, 163, 1);
    width: 50px;
height: 50px;
border-radius: 50%;

  }
  .greater{
    background-color: rgb(254, 163, 1);
    width: 50px;
height: 50px;
border-radius: 50%;
  }

  /* story style */
  .stories{
background-image: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
  
  }
  .stories-title{
    font-family: Quicksand;
font-size: 46px;
font-weight: 700;
line-height: 57.5px;
margin-left: 570px;
margin-bottom: 80px;
margin-top: 120px;
  }
  .stories-container{
 
  }
  .story-title{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 24px;
font-weight: 700;
line-height: 38.35px;
width: 402.49px;
margin-bottom: 50px;
padding-left: 38px;
margin-top: 36px;


  }
  .story{
    border-radius: 16px;
background: rgb(255, 255, 255);
position: relative;
width: 540px;
height: 630px;
margin-left: 80px;
  }
  .story-description{
    font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28px;
padding-left: 38px;
padding-right: 60px;
margin-bottom: 30px;
  }
  .story-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
  }
  .story-2{
    border-radius: 16px;
background: rgb(255, 255, 255);
width: 290px;
height: 301px;
gap: 18px;
margin-left: 18px;
  }
  .btn{
    background-color: rgb(60, 216, 232);
    border-radius: 47.93px;
    margin-top: -200px;
    margin-left: 30px;
    padding-top: 23px;
    padding-bottom: 18px;
  }
  .story-2-title{
    font-family: Quicksand;
font-size: 15.34px;
font-weight: 700;
line-height: 28.76px;
margin-top: 23px;
padding-left: 33px;
padding-right: 33px;
margin-bottom: 40px;

  }
  .story-btn{
    width: 174.51px;

border-radius: 47.93px;
background: rgb(93, 88, 240);
margin-left: 30px;
border: none;
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
margin-top: -200px;
padding-top: 20px;
padding-bottom: 15px;
text-align: center;
  }
  .story-2-btn{
    width: 174.51px;



border-radius: 47.93px;
background: rgb(149, 178, 38);;
margin-left: 30px;
border: none;
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
margin-top: -200px;
padding-top: 20px;
padding-bottom: 15px;

  }
  .view-btn{
    margin-top: 90px;
    margin-bottom: 68px;
    margin-left: 630px;

  }

  /* footer style */
  .about-section{
    background-color: rgb(196, 218, 229);
    color:  rgb(64, 116, 143);
    
  }
  .about-container{
    margin-top: 120px;
    margin-left: 80px;
  
  }
  .about-logo{
    font-family: Quicksand;
font-size: 40px;
font-weight: 700;
line-height: 30px;
width: 206.11px;
height: 80px;
margin-top: -1px
  }
  .logo-description{
    font-family: Quicksand;
font-size: 20px;
font-weight: 400;
line-height: 25px;
width: 399px;
height: 100px;
margin-left: 80px;
margin-top: -10px;
margin-bottom: 170px;
  }
  .schools{
    margin-top: 120px;
    margin-left: 172px;
    
  }
  .schools h3{
    margin-bottom: 32px;
    font-family: Quicksand;
font-size: 24px;
font-weight: 700;
line-height: 30px;
  }
  .schools li{
list-style: none;
margin-left: -40px;
margin-bottom: 20px;
font-family: Quicksand;
font-size: 20px;
font-weight: 500;
  }
  .touch{
    margin-top: 120px;
    font-family: Quicksand;
font-size: 26px;
font-weight: 700;
line-height: 26px;
    
  }
  .icons{
    margin-top: 32px;
  }
  


  @media screen and (max-width:576px) {
    
    .nav-links, .kid{
        display: none;
    }
    .navbar,.curriculum-container, .stories, .story-container,.about-section{
        flex-direction: column;
       
    }
    .stories-container{
      flex-direction: column-reverse;
    }
    .banner{
        flex-direction: column-reverse;
        justify-items: center;
       
        text-align: center;
    }
    .navbar{
     
      border-bottom: 1px solid rgb(254, 163, 1);
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 40px;

    }
    .banner-title{
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        margin-left: -140px;
        
    }
    .banner-description{
        font-family: Quicksand;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        width: 350px;
        
        margin-left: 10px;
        
    }
    .banner button{
        margin-left: -5px;
        margin-top: 18px;
    }
    .banner img{
width: 100%;
margin-top: 50px;
    }
    .logo{
     position: absolute;
width: 46px;
height: 46px;
left: 16px;
right: 296px;
top: 12px;

    }
    .more{
        margin-left: 420px;
     display: inherit;
    }
    .curriculum-container{
        width: 357px;
height: 324.47px;
gap: 12px;
margin-left: -5px;

    }
    .standard-title{
        font-family: Quicksand;
font-size: 26px;
font-weight: 700;
line-height: 33px;
margin-top: 80px;
margin-bottom: 20px;
    }
    .kinder{
        margin-bottom: 0px;
    }
    .stories-title{
      margin-left: 50px;
      margin-bottom: px;
      margin-top: 950px;
    }
    .story, .icon{
      display: none;
    }
    .story-container{
      
     
      grid-template-columns: repeat(2, 1fr);
      
    width: 357px;

    }
    .story-2{
      width: 170px;
      height: 230px;
      margin-left: 5px;
    }
    .story-2 img{
      width:170px
    }
    .story-2-title{
      font-family: Quicksand;
font-size: 9.13px;
font-weight: 700;
line-height: 17.12px;
width: 107.92px;

    }
    .story-2-btn{
padding-top: 8px;
padding-bottom: 8px;
font-size: 9.13px;
font-weight: 500;
padding-right: 10px;
padding-left: 10px;
width: 103.91px;
margin-top: -200px;
text-align: center;
    }
    .story-btn{
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 9.13px;
      font-weight: 500;
      padding-right: 10px;
      padding-left: 10px;
      width: 103.91px;
      margin-top: -50px;
    }
    
    

    .view-btn{
      margin-left: 100px;
    }
    .about-container-section{
      margin-left: -50px;
    }
    .logo-description{
      font-family: Quicksand;
font-size: 16px;
font-weight: 400;
line-height: 20px;
width: 300px;

    }
    .schools{
      margin-top: -130px;
      margin-left: 30px;
      font-family: Quicksand;

    }
    .schools h3{
      font-size: 20.35px;
font-weight: 600;
line-height: 25px;
width: 129px;
    }
    .schools li{
      font-family: Quicksand;
font-size: 16.96px;
font-weight: 500;
    }
    .touch{
      margin-top: 20px;
      margin-left: 30px;
    }
    .touch h3{
      font-family: Quicksand;
font-size: 22.04px;
font-weight: 700;
line-height: 22.04px;
    }
    .icons{
      margin-bottom: 60px;
    }
    
    
   
    }
    
    
  


